.logout a i {
    font-size: 22px;
    color: #B22222;
  }

  .nav-bar-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(230, 230, 230);
  
  }

  .nav-bar-user-index {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(230, 230, 230);
  
  }