

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 17, 32);
}

body {
    font-family: Helvetica, sans-serif;
    background: rgb(209, 209, 209)
}

.content {
    position: relative;
    min-width: 400px;
    display: block;
    width: 30%;
    background: rgb(243, 243, 243);
    padding: 50px 0;
    padding-bottom: 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    box-shadow: 0 4px 12px rgba(44, 44, 44, .8);
}

.main{
    padding: 0 50px;
}

button {
    display: block;
    background: rgb(99, 99, 255);
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    color: aliceblue;
    font-weight: 200;
    border-radius: 5px;
    border: none

}

button:hover {
    background-color: rgb(2, 56, 104);
    color: aliceblue;
    transition: .3s;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    outline: none; 
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .3);
    background-color: rgb(230, 230, 230);
}

h3 {
    margin-bottom: 5px;
    font-weight: 200;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #b22222;
    color: aliceblue;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 12px rgba(44, 44, 44, .8);
}

span{
    color: aliceblue;
}

/* Estilos para la tarjeta flotante */
.tarjeta-flotante {
    position: fixed;
    min-width: 300px;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 40px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(52, 51, 51);
    z-index: 1000; /* Asegura que la tarjeta esté por encima del contenido de la página */
    display: none; /* Por defecto, oculta la tarjeta flotante */
  }
  
  .img-logo{
    width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .btn-edit-elim{
    display: flex;
    gap: 10px;
  }

  .edit{
    background-color: rgb(16, 162, 0);
    color: aliceblue;
    font-weight: 200;
  }

  .edit:hover{
    background-color: rgb(10, 95, 0);
  }

  .elim{
    background-color: #B22222;
    color: aliceblue;
    font-weight: 200;
  }

  .elim:hover{
    background-color: #800101;
  }


.resultados-lista {
  max-height: 400px;
  overflow-y: auto;
}

.edicion{
  display: none;
}

#formularioEdicion {
  display: none;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px 10px 0 0;
}


.cerrar-btn {
  margin-top: 20px;
}


/* Agrega esto a tu hoja de estilo CSS o en el bloque de estilo en tu HTML */

/* Estilo para la ventana flotante */
.ventana-flotante {
  display: none;
  width: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.check {
  color: #009b43;
  display: flex;
  flex-direction: start;
  text-align: center;
  margin-right: 3px;
  margin-top: -2px;
  }

.msj{
  display: flex;
}
